\:root
	font-size: 22px
	font-family: Helvetica, Arial, sans-serif
	line-height: 1.5

.container
	width: 100%
	max-width: 1020px
	margin: 50px auto


	.title
	    font-size: 2rem
	    width: 100%
	    padding: 15px 0px

	.btn
		padding: 10px 15px
		border-radius: 5px
		text-decoration: none

	.btn-green
		background: #2e9c33
		color: white

// Practice problem
.mc-pair
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: center

	.fa
		text-align: center
		width: 100%

.right
	.fa
		color: green
.wrong
	.fa
		color: red

.float-right
	float: right


@media (max-width: 1040px)
	.container
		max-width: 800px
		.title
			font-size: 1.8rem
		p, pre
			font-size: 0.9rem

@media (max-width: 699px)
	.container
		width: 95%
		min-width: 350px
		.title
			font-size: 1.5rem
		p, pre
			font-size: 0.7rem


// Clearfix
.group:before,
.group:after
	content: ""
	display: table

.group:after
	clear: both
