@import 'sidenav'
@import 'vars'

*
	font-family: "Roboto", "Helvetica", "Arial", sans-serif
	font-weight: 400
	box-sizing: border-box !important

\:root
	font-size: 22px
	font-family: Helvetica, Arial, sans-serif
	line-height: 1.5
	color: #292724

.float-right
	float: right

.float-left
	float: left

.container
	width: 100%
	padding-left: 15px
	padding-right: 15px
	margin: 50px auto

	.toc
		text-decoration: none

	.title
		font-size: 2rem
		width: 100%
		padding: 15px 0px

	p > code.language-java, li > code.language-java
		font-size: 0.8em
		padding: 5px
		vertical-align: middle

	ol
		li
			margin-bottom: 15px

	.nav

		.btn
			padding: 10px 15px
			border-radius: 5px
			text-decoration: none
			margin-top: 8px

		.btn-green
			background: $btn-green
			color: white
			&:hover
				background: darken($btn-green, 10%)

		.btn-grey
			background: #eee
			color: #222
			&:hover
				background: #ddd



.problems
	margin: 20px auto

	.anskey
		font-style: italic
		padding: 10px
		margin-top: 0
		
		.mono
			font-style: normal
			font-family: "Consolas", "Courier", monospace
	
	
	.ans-group, .ans-group1, .ans-group2
		position: relative
		display: table
		width: 100%
		padding: 10px

		.input-pre
			padding-right: 10px
			width: 95px
			font-family: "Consolas", "Courier", monospace
		
		.input-control
			position: table-cell
			float: left
		
		.ans-input
			background-image: none
			border: 1px solid #ccc
			border-right: none
			width: 70%
			max-width: 350px
			height: 40px
			padding: 10px 15px
			border-radius: 4px
			border-top-right-radius: 0
			border-bottom-right-radius: 0
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
			line-height: 1.4
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
			font-family: "Consolas", "Courier", monospace
		
		.ans-btn
			width: 30%
			max-width: 100px
			font-size: 0.9rem
			line-height: 1
			cursor: pointer
			height: 40px
			padding: 10px 15px
			margin-left: -1px
			background-color: $btn-green
			color: white
			border: none
			border-radius: 4px
			border-top-left-radius: 0
			border-bottom-left-radius: 0
			&:hover
				background-color: darken($btn-green, 10%)
	.err-bg
		background-color: $bg-red

		.fa
			color: red

	.right-bg
		background-color: $bg-green
		
		.fa
			color: green
			
	.error
		padding: 10px
		color: red
		font-style: italic
		margin-top: 0

	.hidden
		display: none
// Practice problem
.mc-pair
	text-align: center
	.pair1, .pair2, .pair3
		background: #eee
		border-radius: 5px
		cursor: pointer
		margin-top: 3px
		&:hover
			background: #ddd
	pre
		display: inline-block
		margin: 0

	div
		padding: 10px

	.fa
		text-align: center
		width: 100%
		display: none



.right
	background: $bg-green !important
	.fa
		color: green
		display: inline-block
.wrong
	background: $bg-red !important
	.fa
		color: red
		display: inline-block	


@media(min-width: $large)
	.container
		max-width: 1050px
		.title
			font-size: 1.8rem

@media(min-width: $medium) and (max-width: $large - 1)
	.container
		max-width: 850px
		margin: 30px auto
		.title
			font-size: 1.5rem
		.mc-pair
			flex-direction: row
		p, pre, .btn, .toc
			font-size: 1rem

@media(min-width: $small) and (max-width: $medium - 1)
	.container
		max-width: 630px
		margin: 15px auto
		.toc
			font-size: 0.9rem
		.mc-pair
			.pair1, .pair2, .pair3
				width: 49%
				display: inline-block
		.title
			font-size: 1.4rem
		p, pre, .btn
			font-size: 0.9rem
		.btn
			display: inline-block
			line-height: 1.5
		.nav
			flex-direction: row-reverse
			justify-content: space-between

@media(max-width: $small - 1)
	.container
		max-width: none
		margin: 10px auto
		.mc-pair
			.pair1, .pair2, .pair3
				display: block
				width: auto
		.title
			font-size: 1.4rem
		p, pre, .btn, .toc
			font-size: 0.8rem
		.btn
			display: block
			width: 100%
			text-align: center
		.nav
			flex-direction: column

// Clearfix
.group:before,
.group:after
	content: ""
	display: table

.group:after
	clear: both
