@import 'vars'

.thick
	font-weight: bold
.thin
	font-weight: lighter

.body-title
	text-align: center

.body-flex
	display: flex
	align-items: space-around

.page-content
	.hero
		background: url('../img/darkblurlady.jpg') no-repeat center fixed
		background-size: cover
		min-height: 460px
		height: 100%

		.hero-title, .hero-sub
			font-family: "Roboto", sans-serif
			color: white
			text-align: center
			font-weight: lighter
			
		.hero-sub
			margin-top: 10px

		.herobtn
			text-decoration: none
			padding: 20px 25px
			border-radius: 5px

		.herowhite
			background: white
			color: #333
			&:hover
				background: #ddd
		.herotrans
			color: white
			border: 1px solid white
			&:hover
				color: #ddd
				border-color: #ddd

@media(max-width: $tiny)
	.hero
		padding-top: 80px
		height: 90vh

		.hero-title
			font-size: 1.5rem
		
		.hero-sub
			font-size: 1rem

		.hero-btngroup
			padding-top: 30px

			.herobtn
				display: block
				text-align: center
				max-width: 300px
				margin: 0 auto 20px
				padding: 10px 15px


@media(min-width: $tiny + 1) and (max-width: $small - 1)
	.page-wrap
		padding-top: 59px
	.hero
		width: 100%
		height: 80vh
		padding-top: 10px
		padding-bottom: 20px

		.hero-title
			font-size: 2.5rem
		
		.hero-sub
			font-weight: 300
			font-size: 1.5rem

		.hero-btngroup
			padding-top: 30px

			.herobtn
				display: block
				text-align: center
				max-width: 300px
				margin: 0 auto 20px

	.body-flex
		flex-direction: column

	.body-section
		padding-left: 10px
		padding-right: 10px
				
	
@media(min-width: $small)
	.page-wrap
		padding: 0

	.hero
		height: 60vh
		padding-top: 100px
		padding-bottom: 50px

		.hero-title
			font-size: 3rem
			margin-bottom: 0

		.hero-sub
			font-size: 1.8rem
			margin-bottom: 70px

		.hero-btngroup
			text-align: center

			.herobtn
				display: inline-block
				min-width: 180px

				&.herowhite
					margin-right: 10px
				&.herotrans
					margin-left: 10px
	


	.body-flex
		flex-direction: column
	

@media(min-width: $medium)
	.body-section
		width: 100%
		max-width: 1500px
		margin: 0 auto

	.body-flex
		flex-direction: row
		justify-content: space-around
		.flex-col
			text-align: center
			width: 30%
			h3
				font-size: 1.3rem
			p
				text-align: justify

@media(min-width: $large)
	p
		color: black